.shoppingList {
    padding: 4rem;
}

.container .row hr {
    color: #000;
    margin: 1rem -6rem 3rem;
}

.list-body h3 {
    text-align: center;
    margin-bottom: 2rem;
}

.input {
    display: flex;
    justify-content: center;
}

.input-group {
    margin-bottom: 2rem;
    max-width: 500px;
    width: 70%;
}

.list-body [type=text]:focus {
    outline: none;
    border: none;
}

.list-body .input-group-text {
    background-color: sandybrown;
    cursor: pointer;
}

.list-body .list-content .left-content h4 {
    margin: 1rem;
}

.list-content .list li {
    max-width: 700px;
    padding-top: 1rem;
    background-color: #fff;
    padding-right: 1rem;
    padding-left: 1rem;

}

.list-content .list li .list-item {
    display: flex;
    justify-content: space-between;
}

.list-content .list li .list-item p {
    font-size: 20px;
}

.list-content .list li .list-item .remove-list {
    display: none;
}

.list-content .list li:hover .remove-list {
    display: block;
}

/* .list-content .list li:mouse .remove-list {
    display: block;
} */

.list-content .empty-list {
    padding-top: 3rem;
    font-size: 16px;
    font-weight: 500;
    text-align: center;

}