#nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-right: 1rem;
}

#header-nav .logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #eee;
}

#header-nav div .logo span {
    font-size: 2rem;
}

@media screen and (max-width: 992px) {
    #header-nav .logo a {
        font-size: 2rem;
    }
    
    #header-nav div .logo span {
        font-size: 1.7rem;
    }
}