.header {
    position: relative;
    top: 0;
    margin-bottom: 3rem;
    z-index: 1000;
}

.navbar {
    background-color: #131921;
    padding: 0 2rem;
}

#header-nav {
    display: flex;
    align-items: center;
    width: 100%;

}

#nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

@media screen and (max-width: 991px) {
    #nav {
        position: sticky;
    }
}
/* 
@media screen and (max-width: 768px) {
    #nav {
        max-width: 768px;
    }
}

@media screen and (max-width: 576px) {
    #nav {
        max-width: 576px;
        min-width: 300px;
    }
} */