.blockbuster-content {
    display: flex;
    overflow-y: hidden;
}

.blockbuster-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform .2s;
    margin-right: .5rem;
    font-size: 16px;
    padding: 1rem;
    text-decoration: none;
    color: #000;
    position: relative;

    cursor: pointer;
}

.blockbuster-item:hover {
    transform: scale(1.02);
    color: rgba(0, 0, 0, 0.815);
}

.blockbuster-item img {
    width: 4.5rem;
    height: 6rem;
    margin-bottom: .3rem;

    position: relative;
}

.blockbuster-item span {
    position: absolute;
    right: 3%;
    padding: .1rem .2rem;
    font-size: 10px;

    background-color: rgb(233, 5, 5);
}

@media screen and (max-width:576px) {
    .blockbuster {
        padding: 1rem;
    }

    .blockbuster h4 {
        font-size: 16px;
        font-weight: 700;
    }

    .blockbuster-item {
        margin-right: 0rem;
        font-size: 10px;
        padding: .4rem;
    }
    .blockbuster-item img {
        width: 3.1rem;
        height: 3.8rem;
        margin-bottom: .2rem;
    }
}