.mid-display {
    background-color: rgb(233, 5, 5);
    padding: 2rem;
}

.mid-display-content .no-card {
    color: #eee;
}

.mid-display-content .no-card button {
    padding: .4rem 3rem;
    border: none;
    border-radius: 14px;
    animation: noCardButtonBounce 1s linear infinite;
    transition: animation .2s;
}

@keyframes noCardButtonBounce {
    0% {
        opacity: .3;
        color: blue;
    }
    50% {
        opacity: .8;
        color: green;
    }
}

.mid-display-content .yes-card {
    display: flex;
    justify-content: space-between;
}

.yes-card .card {
    margin-right: 1rem;
    background-color: #eee;
}

.yes-card .card .card-title {
    margin: .5rem 0 0 .5rem;
}

.yes-card .card-body {
    display: flex;
    justify-content: space-around;
}

.yes-card .card-body .card-body-image {
    background-color: #fff;
    padding: 1rem;
}

.yes-card .card-body .card-body-image img {
    width: 3.5rem;
}

@media (max-width: 997px) {
    
    .mid-display-content .no-card {
        margin-bottom: 2rem;
    }
    
    .mid-display-content .yes-card {
        display: flex;
        justify-content: space-between;
    }
    
    .yes-card .card {
        width: 100%;
    }
    
    .yes-card .card-body > div:not(:first-child) {
        display: none;
    }

    .yes-card .card-body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }
    
    .yes-card .card-body .card-body-image {
        width: 10rem;
        padding: 1rem;
    }
    
    .yes-card .card-body .card-body-image img {
        width: 3.5rem;
    }
}

@media screen and (max-width: 576px) {
    .mid-display {
        padding: 1rem;
    }

    .no-card h3 {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .no-card p {
        font-size: 14px;
    }

    .mid-display-content .no-card button {
        padding: .3rem 1.2rem;
        font-size: 12px;
        border-radius: 10px;
    }

    .yes-card .card .card-title {
        margin: 0;
        font-size: 12px;
        font-weight: 500;
        padding: .2rem;
    }
    
    .yes-card .card-body .card-body-image {
        padding: 0rem;
        text-align: center;
    }
    
    .yes-card .card-body .card-body-image img {
        width: 2.6rem;
    }
}