.my-market {
    height: 23rem;
    /* overflow: hidden; */
    padding: 0;
}

.left-content {
    padding: 2rem;
}

section .left-content ul {
    list-style: none;
    font-size: 14px;
    margin-left: -2rem;
}

section .left-content ul li {
    display: flex;
    align-items: center;
    margin-bottom: 1.7rem;
}

section .left-content .left-content-icon {
    font-size: 16px;
    margin-right: .6rem;
    width: 1rem;
}

section .left-content ul li a {
    color: #222;
    text-decoration: none;
    transition: transform .2s;
}

section .left-content ul li a:hover {
    transform: scale(1.02);
}

section .main-content {
    flex: 1;
    background: #ddd;
    width: 100%;
    height: 23rem;
}

.carousel .slide img {
    object-fit: cover !important;
    height: 23rem;
    width: 100%;
}

.control-dots .dot {
    background: #000 !important;
}

.carousel .control-prev.control-arrow::before {
    border-right: 10px solid #000 !important;
}

.carousel .control-next.control-arrow::before {
    border-left: 10px solid #000 !important;
}

.carousel .thumb {
    display: none !important;
}

section .right-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section .right-content .top-box {
    background-color: red;
    height: 48%;
    text-align: center;
}

section .right-content .bottom-box {
    background: #000;
    color: #fff;
    height: 48%;
    text-align: center;
}

@media screen and (max-width: 576px) {
    .my-market {
        padding-right: .7rem;
        height: 10rem;
        overflow: hidden;
    }

    .left-content {
        padding: 1rem 0;       
    }

    section .left-content ul {
        font-size: 8px;
        margin-left: -1rem;
    }
    
    section .left-content ul li {
        margin: .1rem 0;
    }
    
    section .left-content .left-content-icon {
        font-size: 12px;
        margin-right: .4rem;
        width: .7rem;
    }

    section .main-content {
        height: 100%;
        padding: 0;
    }
    
    .carousel .slide img {
        object-fit: fill !important;
        height: 10rem;
        width: 50%;
    }
}